# 在本workspace下npm执行的命令都会经过这里，对该机器性能要求较高
registry=http://127.0.0.1:4873

# 开启后，让packages的目录能够项目链接
link-workspace-packages = true

# packages内每一个包都有自己的一个pnpm，拆开原本集中在一起的pnpm包，提高装包速度
shared-workspace-lockfile = false